<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Joke App</title>
</head>

<body>
    <div class="container">
        <div class="joke-card">
            <h1 class="joke-text">
                <%= joke.text %>
            </h1>
            <div class="vote-buttons">
                <form action="/vote" method="post" class="vote-form">
                    <input type="hidden" name="jokeId" value="<%= joke.id %>" />
                    <button class="vote-button" name="vote" value="Funny">
                        <span class="vote-icon">🤣</span> This is Funny!
                    </button>
                    <button class="vote-button" name="vote" value="Not Funny">
                        <span class="vote-icon">😐</span> This is not funny
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>