@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.joke-card {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.joke-text {
    color: #7f8c8d;
    font-size: 20px;
    margin-bottom: 16px;
}

.vote-buttons {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.vote-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vote-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Roboto', sans-serif;
    margin: 0px 4px;
}

.vote-button:hover {
    background-color: #1976d2;
}

.vote-icon {
    margin-right: 8px;
}

.message-card {
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.message-text {
    color: #7f8c8d;
    font-size: 20px;
}